<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Docentes</h1>
      </div>
  </div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-Primary">
            <thead>
                <tr class="table-primary">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de nacimiento</th>
                    <th>Legajo</th>
                    <th>Legajo Recibo</th>
                    <th>DNI</th>
                    <th>CUIT</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Domicilio</th>
                    <th>Nacionalidad</th>
                    <th>Sexo</th>
                    <th>Lugar de nacimiento</th>
                    <th>Fecha de Ingreso adm</th>
                    <th>Estado Civil</th>
                    <th>Conyuge</th>
                    <th>Cuil de Conyuge</th>
                    <th>Fecha de nacimiento Conyuge</th>
                    <th>Familiar a cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of ListarDocente">

                    <td>{{docente.nombre}}</td>

                    <td>{{docente.apellido}}</td>

                    <td>{{docente.fecha_nacimiento}}</td>

                    <td>{{docente.legajo}}</td>

                    <td>{{docente.legajo_recibo}}</td>

                    <td>{{docente.dni}}</td>

                    <td>{{docente.cuit}}</td>

                    <td>{{docente.telefono}}</td>

                    <td>{{docente.correo}}</td>

                    <td>{{docente.domicilio}}</td>

                    <td>{{docente.nacionalidad}}</td>

                    <td>{{docente.sexo}}</td>

                    <td>{{docente.lugar_de_nacimiento}}</td>

                    <td>{{docente.fecha_ingreso_adm}}</td>

                    <td>{{docente.estado_civil}}</td>

                    <td>{{docente.conyuge}}</td>

                    <td>{{docente.fecha_n_conyuge}}</td>

                    <td>{{docente.familiar_acargo}}</td>

                </tr>
            </tbody>
        </table>
    </div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-header">Formulario de Docentes</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input placeholder="Ingrese el Nombre" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Apellido" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Fecha de Ingreso" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Legajo" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Legajo recibo" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el DNI" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Cuit" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Telefono " type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Correo" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el Domicilio" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese la Nacionalidad" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el sexo" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el lugar de nacimiento" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese fecha ingreso administracion" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el estado civil" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese el nombre de su conyuge" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese su cuil de conyuge" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese la fecha nacimiento conyuge" type="text" class="form-control">
                    </div>
                    <div class="form-grou">
                        <input placeholder="Ingrese familiar a cargo" type="text" class="form-control">
                    </div>
                    <button class="btn btn-success" id="alerta">Guardar</button>
                </form>
            </div>
    </div>
</div>
</div>