<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="Buscar" [(ngModel)]="buscarDocente" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Nuevo docente
          </button>
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de nacimiento</th>
                    <th>Legajo</th>
                    <th>Legajo Recibo</th>
                    <th>DNI</th>
                    <th>CUIT</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Domicilio</th>
                    <th>Nacionalidad</th>
                    <th>Sexo</th>
                    <th>Lugar de nacimiento</th>
                    <th>Fecha de Ingreso adm</th>
                    <th>Estado Civil</th>
                    <th>Conyuge</th>
                    <th>Cuil de Conyuge</th>
                    <th>Fecha de nacimiento Conyuge</th>
                    <th>Familiar a cargo</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of ListarDocente | filter:buscarDocente | paginate:{itemsPerPage:6, currentPage:p}">

                    <td>{{docente.id_docente}}</td>

                    <td>{{docente.nombre}}</td>

                    <td>{{docente.apellido}}</td>

                    <td>{{docente.fecha_nacimiento}}</td>

                    <td>{{docente.legajo}}</td>

                    <td>{{docente.legajo_recibo}}</td>

                    <td>{{docente.dni}}</td>

                    <td>{{docente.cuit}}</td>

                    <td>{{docente.telefono}}</td>

                    <td>{{docente.correo}}</td>

                    <td>{{docente.domicilio}}</td>

                    <td>{{docente.nacionalidad}}</td>

                    <td>{{docente.sexo}}</td>

                    <td>{{docente.lugar_de_nacimiento}}</td>

                    <td>{{docente.fecha_ingreso_adm}}</td>

                    <td>{{docente.estado_civil}}</td>

                    <td>{{docente.conyuge}}</td>

                    <td>{{docente.fecha_n_conyuge}}</td>

                    <td>{{docente.fecha_n_conyuge}}</td>

                    <td>{{docente.familiar_acargo}}</td>
                    
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarDocente(docente.id_docente);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarDocente(docente)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4">
                <pagination-controls (pageChange)="p =$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Docente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formDocente" (ngSubmit)="guardarDocente()">
        <div class="modal-body">

                <div class="form-group">
                    <input formControlName="id_docente" type="hidden" class="form-control">
                </div>

                <div class="form-group">
                    <input [ngClass]="{'is-invalid':(formDocente.get('nombre')?.touched || formDocente.get('nombre')?.dirty) && formDocente.get('nombre')?.invalid }" formControlName="nombre" placeholder="Ingrese el Nombre" type="text" class="form-control">
                    <div class="invalid-feedback">
                        <span *ngIf="formDocente.get('nombre').hasError('required')">Campo requerido</span>
                        <span *ngIf="!formDocente.get('nombre').hasError('minLength')">Minimo 3 caracteres</span>
                    </div>
                </div>
                <div class="form-group">
                    <input  formControlName="apellido" placeholder="Ingrese el Apellido" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input  formControlName="fecha_nacimiento" placeholder="Ingrese el Fecha de nacimiento" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="legajo" placeholder="Ingrese el Legajo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="legajo_recibo" placeholder="Ingrese el Legajo recibo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="dni" placeholder="Ingrese el DNI" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="cuit" placeholder="Ingrese el Cuit" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="telefono" placeholder="Ingrese el Telefono " type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="correo" placeholder="Ingrese el Correo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="domicilio" placeholder="Ingrese el Domicilio" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="nacionalidad" placeholder="Ingrese la Nacionalidad" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="sexo" placeholder="Ingrese el sexo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control">
                    <option value="0" disabled selected>Seleccionar localidad</option>
                    <option *ngFor= "let localidad of listarLocalidad" value={{localidad.descripcion}}>{{localidad.descripcion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input formControlName="fecha_ingreso_adm" placeholder="Ingrese fecha ingreso administracion" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="estado_civil" placeholder="Ingrese el estado civil" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="conyuge" placeholder="Ingrese el nombre de su conyuge" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="cuil_conyuge" placeholder="Ingrese su cuil de conyuge" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="fecha_n_conyuge" placeholder="Ingrese la fecha nacimiento conyuge" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input formControlName="familiar_acargo" placeholder="Ingrese familiar a cargo" type="text" class="form-control">
                </div>
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button [disabled]="formDocente.invalid" class="btn btn-success" id="alerta">Guardar</button>
        </div>
    </form>
      </div>
    </div>
  </div>
