<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(to left bottom, #b4b6d8, #a0aace, #8a9ec4, #7493b9, #5c88ae, #4f7ca3, #427197, #34668c, #33587f, #314a71, #303c62, #2d2f53);" >
    <img src="http://www.cet30.edu.ar/images/logos/logo-trans-150.png" whith="70" height="70">
    <a class="navbar-brand" style="color: white;" routerLink="index"><h1>Secretaria</h1></a>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <br>
        <br>
        <br>
        <br>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white;" routerLink="index"><h5>Inicio</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="docente"><h5>Docentes</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="designacion"><h5>Designacion</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="asignatura"><h5>Asignatura</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="licenciatura" ><h5>Licencias</h5></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5>Formulario</h5></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="localidad"><h5>Localidad</h5></a>
                        <a class="dropdown-item" routerLink="personasacargo"><h5>Personas a cargo</h5></a>
                        <a class="dropdown-item" routerLink="provincias"><h5>Provincia</h5></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>