<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(to left bottom, #b4b6d8, #a0aace, #8a9ec4, #7493b9, #5c88ae, #4f7ca3, #427197, #34668c, #33587f, #314a71, #303c62, #2d2f53);">
    <img src="http://www.cet30.edu.ar/images/logos/logo-trans-150.png" whith="70" height="70">
    <a class="navbar-brand" style="color: white;" routerLink="index">
        <h1>Secretaria</h1>
    </a>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <br>
        <br>
        <br>
        <br>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color: white;" routerLink="index">
                        <h5>Inicio</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="docente">
                        <h5>Docentes</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="designacion">
                        <h5>Designacion</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="asignatura">
                        <h5>Asignatura</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="licenciatura">
                        <h5>Licencias</h5>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h5>Formulario</h5>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="localidad">
                            <h5>Localidad</h5>
                        </a>
                        <a class="dropdown-item" routerLink="personasacargo">
                            <h5>Personas a cargo</h5>
                        </a>
                        <a class="dropdown-item" routerLink="provincias">
                            <h5>Provincia</h5>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="Soporte">
                        <u><h5>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
                                <path d="M9.97 4.88l.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                              </svg>Soporte
                        </h5></u>
                    </a>
                </li>
            </ul>
        </div>
    </nav>