<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group" align="center">
                    <h5>CORREOS: <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                          </svg> Correo de Delfor Villegas:<a href="https://mail.google.com/"> aaaaaa</a>
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                          </svg> Correo de Franco Retamal:<a href="https://mail.google.com/"> bbbbbbb</a>
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                          </svg> Correo de Facundo Jara:<a href="https://mail.google.com/"> facujara.2019@gmail.com</a>
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                          </svg> Correo de Leandro Sandoval:<a href="https://mail.google.com/"> ddddd</a>
                        <br>
                    </h5>
                    <h3> SISTEMA DE LA SECRETARIA DEL C.E.T N° 30
                        <h5>
                            <br> Secretaria C.E.T30 Copyright © 2020. Todos los derechos reservados
                            <br> Este programa es software gratuito: puedes redistribuirlo y / o modificar<br> bajo los términos de la Licencia Pública General GNU publicada por<br> la Free Software Foundation, ya sea la versión 3 de la Licencia, o<br>                            (a su elección) cualquier versión posterior.
                            <br> Este programa se distribuye con la esperanza de que sea útil,<br> pero SIN NINGUNA GARANTÍA; sin siquiera la garantía implícita de<br> COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Ver el<br> Licencia pública
                            general GNU para obtener más detalles.
                            <br> Debería haber recibido una copia de la Licencia Pública General GNU junto con este programa.<br> De lo contrario, consulte <a href="https://www.gnu.org/licenses">Enlace de página de la licencia</a>
                        </h5>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">

    <div id="footer" class="container-fluid" style="background-color: #7094c9;">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row d-flex justify-content-between pt-3">
                    <div class="col-md-3 item-footer">
                        <p>Paraguay 1050, R8324 Cipolletti, Río Negro <i class="fas fa-phone-alt pr-2" aria-hidden="true"></i> +54 9 299 478-3676</p>
                    </div>
                    <div class="col-md-6 item-footer">
                        <p>Barrio Don Bosco<i class="fas fa-phone-alt pr-2" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-md-3 item-footer">
                        <a target="_blank" href="http://cet30.edu.ar/" style="color:inherit; ">
                            <p>http://cet30.edu.ar/</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>