<div class="container">

    <div id="footer" class="container-fluid" style="background-color: #7094c9;">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row d-flex justify-content-between pt-3">
                    <div class="col-md-3 item-footer">
                        <p>Paraguay 1050, R8324 Cipolletti, Río Negro <i class="fas fa-phone-alt pr-2" aria-hidden="true"></i> +54 9 299 478-3676</p>
                    </div>
                    <div class="col-md-6 item-footer">
                        <p>Barrio Don Bosco<i class="fas fa-phone-alt pr-2" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-md-3 item-footer">
                        <a target="_blank" href="http://cet30.edu.ar/" style="color:inherit; ">
                            <p>http://cet30.edu.ar/</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
