<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Asignatura</h1>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input placeholder="Ingrese criterio de Búsqueda" [(ngModel)]="buscarAsignatura" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <table class="table table-Primary">
                <thead>
                    <tr class="table-primary">
                        <th>Descripcion</th>
                        <th>Turno</th>
                        <th>Hora</th>
                        <th>Año</th>
                        <th>Division</th>
                        <th>Cargo Catedra</th>
                        <th></th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let asignatura of listaAsignatura | filter:buscarAsignatura | paginate:{itemsPerPage:3, currentPage: p}">

                        <td>{{asignatura.descripcion}}</td>

                        <td>{{asignatura.turno}}</td>

                        <td>{{asignatura.hora}}</td>

                        <td>{{asignatura.anio}}</td>

                        <td>{{asignatura.division}}</td>

                        <td>{{asignatura.id_cargo_catedra}}</td>

                        <div class="btn-group btn-group-sm">

                            <button (click)="eliminarAsignatura(asignatura.id_asignatura);" class="btn btn-outline-success my-2 my-sm-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </button>

                            <button (click)="editarAsignatura(asignatura)" class="btn btn-outline-success my-2 my-sm-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                </svg>
                            </button>

                        </div>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-4">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de Asignatura</div>
                <div class="card-body">
                    <form [formGroup]="formAsignatura" (ngSubmit)="guardarAsignatura()">

                        <input formControlName="id_asignatura" type="hidden">

                        <div class="form-group">
                            <input formControlName="descripcion" placeholder="Ingrese una Descripcion" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="turno" placeholder="Ingrese el Turno" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="hora" placeholder="Ingrese la Hora" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="anio" placeholder="Ingrese el Año" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="division" placeholder="Ingrese la Division" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="id_cargo_catedra" placeholder="Ingrese el id de Cargo de Catedra" type="text" class="form-control">
                        </div>
                        <button class="btn btn-success" id="alerta">Guardar
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-archive-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<h5>CORREOS: <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
      </svg> Correo de Delfor Villegas:<a href="https://mail.google.com/"> aaaaaa</a>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
      </svg> Correo de Franco Retamal:<a href="https://mail.google.com/"> bbbbbbb</a>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
      </svg> Correo de Facundo Jara:<a href="https://mail.google.com/"> facujara.2019@gmail.com</a>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
      </svg> Correo de Leandro Sandoval:<a href="https://mail.google.com/"> ddddd</a>
    <br>
</h5>
<h3> SISTEMA DE LA SECRETARIA DEL C.E.T N° 30
    <h5>
        <br> Secretaria C.E.T30 Copyright © 2020. Todos los derechos reservados
        <br> Este programa es software gratuito: puedes redistribuirlo y / o modificar<br> bajo los términos de la Licencia Pública General GNU publicada por<br> la Free Software Foundation, ya sea la versión 3 de la Licencia, o<br> (a su elección) cualquier
        versión posterior.
        <br> Este programa se distribuye con la esperanza de que sea útil,<br> pero SIN NINGUNA GARANTÍA; sin siquiera la garantía implícita de<br> COMERCIABILIDAD o APTITUD PARA UN PROPÓSITO PARTICULAR. Ver el<br> Licencia pública general GNU para obtener
        más detalles.
        <br> Debería haber recibido una copia de la Licencia Pública General GNU junto con este programa. De lo contrario, consulte <a href="https://www.gnu.org/licenses">Enlace de página de la licencia</a>
    </h5>
</h3>