<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Asignatura</h1>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input placeholder="Ingrese criterio de Búsqueda" [(ngModel)]="buscarAsignatura" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <table class="table table-Primary">
                <thead>
                    <tr class="table-primary">
                        <th>Descripcion</th>
                        <th>Turno</th>
                        <th>Hora</th>
                        <th>Año</th>
                        <th>Division</th>
                        <th>Cargo Catedra</th>
                        <th></th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr *ngFor="let asignatura of listaAsignatura | filter:buscarAsignatura | paginate:{itemsPerPage:3, currentPage: p}">

                        <td>{{asignatura.descripcion}}</td>

                        <td>{{asignatura.turno}}</td>

                        <td>{{asignatura.hora}}</td>

                        <td>{{asignatura.anio}}</td>

                        <td>{{asignatura.division}}</td>

                        <td>{{asignatura.id_cargo_catedra}}</td>

                        <div class="btn-group btn-group-sm">

                            <button (click)="eliminarAsignatura(asignatura.id_asignatura);" class="btn btn-outline-success my-2 my-sm-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </button>

                            <button (click)="editarAsignatura(asignatura)" class="btn btn-outline-success my-2 my-sm-0">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                </svg>
                            </button>

                        </div>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-4">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de Asignatura</div>
                <div class="card-body">
                    <form [formGroup]="formAsignatura" (ngSubmit)="guardarAsignatura()">

                        <input formControlName="id_asignatura" type="hidden">

                        <div class="form-group">
                            <input formControlName="descripcion" placeholder="Ingrese una Descripcion" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="turno" placeholder="Ingrese el Turno" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="hora" placeholder="Ingrese la Hora" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="anio" placeholder="Ingrese el Año" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="division" placeholder="Ingrese la Division" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="id_cargo_catedra" placeholder="Ingrese el id de Cargo de Catedra" type="text" class="form-control">
                        </div>
                        <button class="btn btn-success" id="alerta">Guardar
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-archive-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container-fluid" style="background-color: #7094c9;">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row d-flex justify-content-between pt-3">
                    <div class="col-md-3 item-footer">
                        <p>Paraguay 1050, R8324 Cipolletti, Río Negro <i class="fas fa-phone-alt pr-2" aria-hidden="true"></i> +54 9 299 478-3676</p>
                    </div>
                    <div class="col-md-6 item-footer">
                        <p>Barrio Don Bosco<i class="fas fa-phone-alt pr-2" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-md-3 item-footer">
                        <a target="_blank" href="http://cet30.edu.ar/" style="color:inherit; ">
                            <p>http://cet30.edu.ar/</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>