<div class="jumbotron">
    <h1 class="display-3">Asignatura</h1>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-sm-8">
        <table class="table table-Primary">
            <thead>
                <tr class="table-primary">
                    <th>Descripcion</th>
                    <th>Turno</th>
                    <th>Hora</th>
                    <th>Anio</th>
                    <th>Division</th>
                    <th>Cargo Catedra</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asignatura of listaAsignatura">

                    <td>{{asignatura.descripcion}}</td>

                    <td>{{asignatura.turno}}</td>

                    <td>{{asignatura.hora}}</td>

                    <td>{{asignatura.anio}}</td>

                    <td>{{asignatura.division}}</td>

                    <td>{{asignatura.id_cargo_catedra}}</td>

                    <div class="btn-group btn-group-sm">

                        <button (click)="eliminarAsignatura(asignatura.id_asignatura);" class="btn btn-danger">Eliminar</button>

                        <button (click)="editarAsignatura(asignatura)" class="btn btn-primary">Editar</button>

                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de Asignatura</div>
            <div class="card-body">
                <form [formGroup]="formAsignatura" (ngSubmit)="guardarAsignatura()">

                    <input formControlName="id_asignatura" type="hidden">

                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese una Descripcion" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="turno" placeholder="Ingrese el Turno" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="hora" placeholder="Ingrese la Hora" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="anio" placeholder="Ingrese el Año" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="division" placeholder="Ingrese la Division" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="id_cargo_catedra" placeholder="Ingrese el id de Cargo de Catedra" type="text" class="form-control">
                    </div>
                    <button class="btn btn-success" id="alerta">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>