<div class="container">
<div class="jumbotron">
    <h1 class="display-5">Designacion</h1>
    <hr class="my-3">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <input placeholder="Ingrese designacion a buscar" [(ngModel)]="buscarDesignacion" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id Designacion</th>
                        <th>id Docente</th>
                        <th>id Asignatura</th>
                        <th>fecha Designacion</th>
                        <th>situacion Revista</th>
                        <th>en Remplazo</th>
                        <th>codigo Articulo</th>
                        <th>fecha_inicio</th>
                        <th>fecha_final</th>
                        <th>vuelta</th>
                        <th>listado</th>
                        <th>titulo</th>
                        <th>estado</th>
                        <th>operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let designacion of listDesignacion | filter:buscarDesignacion | paginate:{itemsPerPage:3, currentPage:lean}">
                        <td>{{designacion.id_designacion}}</td>
                        <td>{{designacion.id_docente}}</td>
                        <td>{{designacion.id_asignatura}}</td>
                        <td>{{designacion.fecha_designacion}}</td>
                        <td>{{designacion.situacion_revista}}</td>
                        <td>{{designacion.en_remplazo}}</td>
                        <td>{{designacion.codigo_articulo}}</td>
                        <td>{{designacion.fecha_inicio}}</td>
                        <td>{{designacion.fecha_final}}</td>
                        <td>{{designacion.vuelta}}</td>
                        <td>{{designacion.listado}}</td>
                        <td>{{designacion.titulo}}</td>
                        <td>{{designacion.estado}}</td>
                      <td>
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarDesignacion(designacion.id_designacion);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarDesignacion(designacion)" class="btn btn-primary">Editar</button>
                            <button (click)="editarDesignacion(designacion)" class="btn btn-Warning">Ver mas</button>
                        </div>
                    </td>
                </tr>
    
            </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <pagination-controls (pageChange)="lean = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Formulario de Designacion</div>
                <div class="card-body">
                    <form [formGroup]="formDesignacion" (ngSubmit)="guardarDesignacion()">
                        <div class="form-group">
                            <input formControlName="id_designacion" type="hidden" class="form-control">
                        </div>

                     <div class="form-group">
                        <input  formControlName="id_designacion" placeholder="Ingrese la designacion" type="text" class="form-control">
                     </div>     
                     <div class="form-group">
                        <select class="form-control" formControlName="id_docente">
                        <option value="0" disabled selected>Seleccione un docente</option>
                        <option *ngFor= "let docente of listarDocente" value={{docente.docente}}>{{docente.nombre}}</option>
                        </select>
                           <span *ngIf="formDesignacion">Campo requerido</span>
                        </div>
                    
                        <div class="form-group">
                            <select class="form-control" formControlName="id_asignatura">
                            <option value="0" disabled selected>Seleccione una asignatura</option>
                            <option *ngFor= "let id_asignatura of listAsignatura" value={{id_asignatura.id_asignatura}}>{{id_asignatura.descripcion}}</option>
                            </select>
                               <span *ngIf="formDesignacion">Ingrese una asignatura     ↑</span>
                            </div>
                    <div class="form-group" >
                        <input formControlName="fecha_designacion" class="form-control" placeholder="ingrese fecha designacion: yyyy-mm-dd" type="date">
                        <span *ngIf="formDesignacion">Ingrese la fecha de designacion   ↑</span>
                </div>
                <div class="form-group" >
                <input  formControlName="situacion_revista" placeholder="Ingrese la situacion revista" type="text" class="form-control">
                    </div>
                    <div class="form-group" >
                    <input  formControlName="en_remplazo" placeholder="Ingrese reemplazo" type="text" class="form-control">
                    </div>
                    <div class="form-group" >
                    <input  formControlName="codigo_articulo" placeholder="Ingrese el codigo articulo " type="text" class="form-control">
                    </div>
                        <div class="form-group">
                            <input formControlName="fecha_inicio" class="form-control" placeholder="ingrese fecha inicio: yyyy-mm-dd" type="date">
                                <span *ngIf="formDesignacion">Ingrese la fecha de inicio   ↑</span>
                            
                        </div>
                        <div class="form-group">
                                <input formControlName="fecha_final" class="form-control" placeholder="ingrese fecha de finalizacion:" type="date">
                                <span *ngIf="formDesignacion">Ingrese la fecha de finalizacion   ↑</span>     
                            </div>
                        
                    <div class="form-group" >
                    <input  formControlName="vuelta" placeholder="Ingrese la vuelta" type="text" class="form-control">
                    </div>
                    <div class="form-group" >
                    <input  formControlName="listado" placeholder="Ingrese el listado " type="text" class="form-control">
                    </div>
                    <div class="form-group" >
                    <input  formControlName="titulo" placeholder="Ingrese el titulo " type="text" class="form-control">
                    </div>
                    <button sdisabled ="formDesignacion" class="btn btn-success" id="alerta">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>