<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                     <input placeholder="Ingrese designacion a buscar" [(ngModel)]="buscarDesignacion" type="text" class="form-control">
                    </div>
                </div>
             </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id Designacion</th>
                        <th>id Docente</th>
                        <th>id Asignatura</th>
                        <th>fecha Designacion</th>
                        <th>situacion Revista</th>
                        <th>en Remplazo</th>
                        <th>codigo Articulo</th>
                        <th>fecha_inicio</th>
                        <th>fecha_final</th>
                        <th>vuelta</th>
                        <th>listado</th>
                        <th>titulo</th>
                        <th>estado</th>
                        <th>operaciones</th>
                    </tr>
                </thead>
            <tbody>
                <tr *ngFor=" let designacion of listDesignacion | filter:buscarDesignacion | paginate:{itemsPerPage:3, currentPage:lean}">
                      <td>{{designacion.id_designacion}}</td>
                      <td>{{designacion.id_docente}}</td>
                      <td>{{designacion.id_asignatura}}</td>
                      <td>{{designacion.fecha_designacion}}</td>
                      <td>{{designacion.situacion_revista}}</td>
                      <td>{{designacion.en_remplazo}}</td>
                      <td>{{designacion.codigo_articulo}}</td>
                      <td>{{designacion.fecha_inicio}}</td>
                      <td>{{designacion.fecha_final}}</td>
                      <td>{{designacion.vuelta}}</td>
                      <td>{{designacion.listado}}</td>
                      <td>{{designacion.titulo}}</td>
                      <td>{{designacion.estado}}</td>

                      <td>
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarDesignacion(designacion.id_designacion);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarDesignacion(designacion)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
    
            </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <pagination-controls (pageChange)="lean = $event" ></pagination-controls>
                </div>
            </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de Designacion</div>
            <div class="card-body">
                <form [formGroup]="formDesignacion" (ngSubmit)="guardarDesignacion()">
                    <div class="form-group" >
                        <input formControlName="id_designacion" type="hidden"class="form-control" >
                    </div>

                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1" [ngClass]="{'is-invalid': (formDesignacion.get('id_docente')?.touched || formDesignacion.get('id_docente')?.dirty) && formDesignacion.get('id_docente')?.invalid }" formControlName="id_docente"> 
                            <option value="" disabled >Seleccione un docente </option>
                            <option *ngFor="let id_docente of listDocente" [value]="id_docente.id_docente"> {{id_docente.nombre}}</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="formDesignacion.get('id_docente').hasError('required')">Campo requerido</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
              
        
    </div>
</div>