<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-4">
            <div class="form-group">
                <input placeholder="Buscar" [(ngModel)]="buscarProvincia" type="text" class="form-control">
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let localidad of ListarLocalidad | filter:buscarProvincia | paginate:{itemsPerPage:6, currentPage:p}">

                    <td>{{localidad.id_localidad}}</td>

                    <td>{{localidad.descripcion}}</td>

                    <td>{{localidad.id_provincia}}</td>

                    <td>
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarLocalidad(localidad.id_localidad);" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarLocalidad(localidad)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de localidad</div>
                <div class="card-body">
                    <form [formGroup]="formLocalidad" (ngSubmit)="guardarLocalidad()">
    
                        <div class="form-group">
                            <input [ngClass]="{'is-invalid':(formLocalidad.get('descripcion')?.touched || formLocalidad.get('descripcion')?.dirty) && formLocalidad.get('descripcion')?.invalid }" formControlName="id_localidad"  type="hidden" class="form-control">
                            <div class="invalid-feedback">
                                <span *ngIf="formLocalidad.get('descripcion').hasError('required')">Campo requerido</span>
                                <span *ngIf="!formLocalidad.get('descripcion').hasError('minLength')">Minimo 3 caracteres</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input formControlName="descripcion" placeholder="Ingrese descripcion" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <select class="form-control" formControlName="id_provincia">
                                <option value="0" disabled selected>Seleccionar Provincia</option>
                                <option *ngFor= "let localidad of listarProvincia" value={{localidad.id_provincia}}>{{localidad.descripcion}}</option>
                                </select>    
                        </div>
                        <button [disabled]="formLocalidad.invalid" class="btn btn-success" id="alerta">Guardar</button>
                    </form>
                </div>
        </div>
    </div>
</div>