<div class="jumbotron">
    <h1 class="display-3">Personas a Cargo</h1>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-sm-1">
        <table class="table table-Primary">
            <thead>
                <tr class="table-primary">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dni</th>
                    <th>Fecha Nacimiento</th>
                    <th>Familiar a Cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personas_acargo of listarPersonas_acargo">

                    <td>{{personas_acargo.nombre}}</td>

                    <td>{{personas_acargo.apellido}}</td>

                    <td>{{personas_acargo.dni}}</td>

                    <td>{{personas_acargo.fecha_nacimiento}}</td>

                    <td>{{personas_acargo.familiar_acargo}}</td>

                    <div class="btn-group btn-group-sm">

                        <button (click)="eliminarPersonas_acargo(personas_acargo.id_pc);" class="btn btn-danger">Eliminar</button>

                        <button (click)="editarPersonas_acargo(personas_acargo)" class="btn btn-primary">Editar</button>

                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-header">Formulario de Personas a Cargo</div>
        <div class="card-body">
            <form [formGroup]="formPersonas_acargo" (ngSubmit)="guardarPersonas_acargo()">

                <input formControlName="id_pc" type="hidden">

                <div class="form-group">
                    <input formControlName="nombre" placeholder="Ingrese el Nombre" type="text" class="form-control">
                </div>
                <div class="form-grou">
                    <input formControlName="apellido" placeholder="Ingrese el Apellido" type="text" class="form-control">
                </div>
                <div class="form-grou">
                    <input formControlName="dni" placeholder="Ingrese el DNI" type="text" class="form-control">
                </div>
                <div class="form-grou">
                    <input formControlName="fecha_nacimiento" placeholder="Ingrese el Fecha de Nacimiento" type="text" class="form-control">
                </div>
                <div class="form-grou">
                    <input formControlName="familiar_acargo" placeholder="Ingrese el Familiar a Cargo" type="text" class="form-control">
                </div>

                <button class="btn btn-success" id="alerta">Guardar</button>
            </form>
        </div>
    </div>
</div>